@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #f2726a;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    background: linear-gradient(45deg,#00853e,#50c878);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    margin: 0 25px;
    background-color: #242628;
    height: 400px;
    width: 300px;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    overflow: hidden;
}

.card__img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid var(--primary-color);
    overflow: hidden;
    margin: 0px auto;
    transform: translateY(25px);
    transition: 0.5s;
}

.card__img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center;
}

.card h2 {
    margin-top: 40px;
}

.card p {
    color: var(--primary-color);
}

.card__social a {
    color: #fff;
    margin: 25px 20px 40px;
    text-decoration: none;
    font-size: 22px;
    display: inline-block;
    transition: 0.2s;
}

.card__social a:hover {
    color: var(--primary-color);
}

.card button {
    border-radius: 10px;
    border: 1px solid var(--primary-color);
    background-color: transparent;
    color: #fff;
    padding: 12px 25px;
    cursor: pointer;
    transition: 0.2s;
}

.card button:hover {
    background-color: var(--primary-color);
    cursor: pointer;
}

.card__img:hover {
    width: 100%;
    height: 100%;
    border-radius: unset;
    transform: unset;
    border: none
}